SUPABASE_URL=https://grxaajpzwsmtpuewquag.supabase.co
SUPABASE_SERVICE_KEY=PASTE_NEW_KEY_HERE
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

VITE_LANDING_BG_URL=https://ik.imagekit.io/7grri5v7d/sddfffaaa.png?updatedAt=1773061267416
VITE_LANDING_BG_URL_VERSION=v1